body {
    background-color:rgb(207, 199, 199);
}

#h2FrontEnd {
    display:flex;
    position:absolute;
    top:10px;
    left:700px;
    font-weight:bold;
    color:white;
}

#h2FrontEnd:hover {
    display:flex;
    position:absolute;
    top:10px;
    left:600px;
    font-weight:bolder;
    color: red;
    animation: forwards;
}

.signUpButtonStylingClass {
    display:flex;
    position:absolute;
    top:10px;
    right:10px;
    background-color: blue, purple;
}

.signUpButtonStylingClass:hover {
    display:flex;
    position:absolute;
    right:10px;
    top:10px;
    transform:rotateX('360');
}
