body {
    background-color:rgb(207, 199, 199);
}

#h2FrontEnd {
    display:flex;
    position:absolute;
    top:10px;
    left:700px;
    font-weight:bold;
    color:white;
}

#h2FrontEnd:hover {
    display:flex;
    position:absolute;
    top:10px;
    left:700px;
    font-weight:bolder;
    color: red;
    animation: forwards;
}

.signUpButtonStylingClass {
    display:flex;
    position:absolute;
    top:10px;
    right:10px;
    background-color: rgb(209, 37, 37);
    font-size: 25px;
    border-radius:50px;
}

.signUpButtonStylingClass:hover {
    display:flex;
    position:absolute;
    right:10px;
    top:10px;
    font-size:35px;
    font-weight:bolder;
    background-color:color-mix(in hsl increasing hue, purple 50%, blue 50%)
}

#h2LoginForm {
    display:flex;
    position:absolute;
    color: black;
    top:10px;
    left:600px;
}

.loginFunctionsStyling {
    display:flex;
    position:absolute;
    top:50px;
    left:300px;
}

#loginButtonInPage {
    display:flex;
    position:absolute;
    top:750px;
    right:300px;
    background-color:black;
    color: white;
}

#loginButtonInPage:hover {
    display:flex;
    position:absolute;
    top:750px;
    right:300px;
    background-color:black;
    color: aqua;
}

#userName {
    display:flex;
    position:absolute;
    top:300px;
    left:600px;
    border-radius:50px;
    border-color:black;
}

#passWord {
    display:flex;
    position:absolute;
    top:100px;
    left:600px;
    border-radius:50px;
    border-color:black;
}

#userNameText {
    display:flex;
    position:absolute;
    top:400px;
    left:600px;
}

#passWordText {
    display:flex;
    position:absolute;
    top:550px;
    left:600px;
}
