body {
    background-color:rgb(71, 71, 71);
}

.headerPagePages {
    display:flex;
    position:absolute;
    top:30px;
    left:500px;
    background-color:black;
    border-radius:20px;
    width:800px;
    height:30px;
}

#woweTitle {
    color:white;
    font-weight:bolder;
    top:5px;
    left:220px;
}

#loginMainPage {
    display:flex;
    position:absolute;
    right:50px;
    top:5px;
    color:white;
    background-color:black;
    border-radius:20px;
}

#signUpMainPage {
    display:flex;
    position:absolute;
    top:5px;
    right:200px;
    background-color:black;
    color:white;
    border-radius:20px;
}

    @keyframes rGBSignUp {
        0% {
            background-color:white;
        }

        25% {
           background-color:rgb(92, 201, 41); 
        }

        50% {
            background-color:blue;
        }

        75% {
            background-color:red;
        }

        100% {
            background-color:purple;
        }
    }
#signUpMainPage:hover {
    animation:rGBSignUp 20s infinite;
}

@keyframes rGBLogIn {
    0% {
        background-color:purple;
    }

    25% {
        background-color:black;
    }

    50% {
        background-color:chocolate
    }

    75% {
        background-color:bisque
    }

    100% {
        background-color:azure
    }
}

#loginMainPage:hover {
    animation:rGBLogIn 20s infinite;
}

#ourPartnersMainPage {
    display:flex;
    position:absolute;
    top:150px;
    left:600px;
    background-color:gray;
    color:white
}
